<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Forum start page</h1>
    <%= link_to 'Posts', controller: 'post_tables'%>
    <%= link_to 'Login', controller: 'user_tables'%>
</body>
</html>
<link rel="stylesheet" href="">