<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Forum start page</h1>
        <p>Sample text forum</p>
    
    <ul>
        <li><%= link_to 'General', post_tables_path %></li>
    </ul>
</body>
</html>