// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primColor: #9e9e9e
$main-font: "Comic Sans MS"

*
    padding: 0px
    margin: 0px
    font-family: $main-font


ul
    background-color: $primColor
    list-style: none
    font-family: $main-font
    
li
    color: white
    font-size: 20px
    padding: 13px
    
p
    font-family: $main-font
    margin: 10px 0px 0px 0px
    font-size: 16px
    
h1
    font-size: 30px
    
li:nth-child(even)
    background-color: #686868
    
table
    margin: 20px 0px 0px 0px